root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{xml,xsd}]
indent_style = tab
max_line_length = 120
ij_smart_tabs = true

[*.{js,ts}]
tab_width = 2
indent_style = tab

[*.yml]
indent_size = 2
indent_style = space

[*.{html,svelte}]
tab_width = 4
indent_style = tab
